.contation{
	width: 1000px;
	margin:0 auto;
}
.nav,.footer{
	height: 50px;
	background: #3399cc;
	color: #fff;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
}
.main{
	height: 2000px;
	border:1px solid #ddd;
}
.backTop{
	position: fixed;
	width: 50px;
	height: 50px;
	right: 0;
	top:80%;
	background: #339999;
	color: #fff;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	display: none;

}